@import "tailwindcss";

@theme {
  --color-blue-950: #14172E;
  --color-blue-900: #161932;
  --color-blue-850: #1E213F;
  --color-blue-100: #D7E0FF;
  --color-blue-50: #EFF1FA;

  --color-grey-400: #BBBDCB;
  --color-grey-200: #E4E2E2;

  --color-cyan-300: #70F3F8;

  --color-red-400: #F87070;

  --color-purple-400: #D881F8;

  --font-sans: "Kumbh Sans", sans-serif;
  --font-serif: "Roboto Slab", serif;
  --font-mono: "Space Mono", monospace;
  --text-base: 12px;
  --leading-base: 125%;

  --breakpoint-tablet: 768px;
  --breakpoint-desktop: 1440px;
}

:root {
  font-family: "Kumbh Sans", sans-serif;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  appearance: textfield;
  -moz-appearance: textfield;
}